__pycache__/

*.h5
*.csv

outputs/cm/train/*
!outputs/cm/train/.gitkeep
outputs/cm/val/*
!outputs/cm/val/.gitkeep
outputs/cm/test/*
!outputs/cm/test/.gitkeep

outputs/curves/*
!outputs/curves/.gitkeep

outputs/pr/train/*
!outputs/pr/train/.gitkeep
outputs/pr/val/*
!outputs/pr/val/.gitkeep
outputs/pr/test/*
!outputs/pr/test/.gitkeep

outputs/preds/train/*
!outputs/preds/train/.gitkeep
outputs/preds/val/*
!outputs/preds/val/.gitkeep
outputs/preds/test/*
!outputs/preds/test/.gitkeep

